.scoreboard {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1rem;

    th,
    td {
        border: 1px solid #999;
        padding: 6px;
    }

    td.cell-first-attempt {
        border-bottom: none !important;
    }

    .rolls-row td {
        height: 40px;
    }

    .scores-row .score-cell {
        font-weight: bold;
        border-top: none;
        height: 40px;
    }

    .frame-row {
        background-color: #99999930;
    }
}

.controls {
    margin-top: 1rem;

    button {
        margin: 0.2rem;
        padding: 0.5rem 0.75rem;
    }

    .reset {
        margin-left: 1rem;
        background-color: #ffdddd;
    }
}