<div class="relative grid p-10">
    <h2 class="text-2xl font-bold text-center my-4">
        Bowling Scorecard
    </h2>

    <ng-container *ngIf="frames$ | async as frames">
        <div class="overflow-x-auto">
            <table class="w-full table-fixed border border-gray-300 text-center text-sm bg-white shadow">
                <thead>
                    <tr class="bg-gray-200">
                        <th *ngFor="let frame of frames; let i = index" [attr.colspan]="i === 9 ? 3 : 2"
                            class="border border-gray-300 px-2 py-1 font-semibold">
                            {{ i + 1 }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <ng-container *ngFor="let frame of frames; let i = index">

                            <!-- Frames 1–9 -->
                            <td *ngIf="i < 9" class="border border-gray-300 h-10 align-middle border-b-0">
                                <ng-container *ngIf="frame.attempts.length > 0 && !isStrike(frame)">
                                    {{ isStrike(frame) ? 'X' : (frame.attempts[0].pins || '-') }}
                                </ng-container>
                            </td>

                            <td *ngIf="i < 9" class="border border-gray-300 h-10 align-middle">
                                <ng-container *ngIf="frame.attempts.length > 0 && isStrike(frame)">
                                    {{ isStrike(frame) ? 'X' : (frame.attempts[0].pins || '-') }}
                                </ng-container>
                                <ng-container *ngIf="frame.attempts.length > 1">
                                    {{ isSpare(frame) ? '/' : (frame.attempts[1].pins || '-') }}
                                </ng-container>
                            </td>

                            <!-- 10th frame -->
                            <td *ngIf="i === 9" class="border border-gray-300 h-10 align-middle">
                                {{ frame.attempts.length > 0 ? (frame.attempts[0].pins === 10 ? 'X' :
                                frame.attempts[0].pins) : '' }}
                            </td>
                            <td *ngIf="i === 9" class="border border-gray-300 h-10 align-middle">
                                {{ frame.attempts.length > 1
                                ? (frame.attempts[1].pins === 10 ? 'X'
                                : (frame.attempts[0].pins + frame.attempts[1].pins === 10 ? '/' :
                                frame.attempts[1].pins))
                                : '' }}
                            </td>
                            <td *ngIf="i === 9" class="border border-gray-300 h-10 align-middle">
                                {{ frame.attempts.length > 2
                                ? (frame.attempts[2].pins === 10 ? 'X' : frame.attempts[2].pins)
                                : '' }}
                            </td>
                        </ng-container>
                    </tr>

                    <tr class="min-h-[50px]">
                        <ng-container *ngFor="let frame of frames; let i = index">
                            <td [attr.colspan]="i === 9 ? 3 : 2"
                                class="border border-gray-300 py-1 font-medium text-gray-700 border-t-0 min-h-[50px]">
                                {{ frame.score ?? '&nbsp;' }}
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>

            <div class="text-center my-4 pr-4 text-lg font-semibold">
                🏆 Total: <span class="text-green-600">{{ totalScore$ | async }}</span>
            </div>

        </div>
    </ng-container>

    <ng-container *ngIf="currentFrame$ | async as currentFrame">
        <div class="mt-6 space-y-2 flex flex-row justify-around">

            <div class="flex flex-wrap gap-2">
                <label class="block text-gray-700 font-medium me-2">Click Number of Pins Knocked Down:</label>
                <button *ngFor="let p of [].constructor(10); let i = index" (click)="submitAttempt(i)"
                    [disabled]="(isGameCompleted$ | async) || getDisabledPins(currentFrame)[i]"
                    class="w-10 h-10 bg-gray-200 text-gray-800 font-bold rounded hover:bg-gray-300 disabled:opacity-50 cursor-pointer">
                    {{ i }}
                </button>

                <button (click)="submitAttempt('X')"
                    [disabled]="(isGameCompleted$ | async) || disableStrike(currentFrame)"
                    class="w-10 h-10 bg-red-500 text-white font-bold rounded hover:bg-red-600 disabled:opacity-50 cursor-pointer">
                    X
                </button>

                <button (click)="submitAttempt('/')"
                    [disabled]="(isGameCompleted$ | async) || disableSpare(currentFrame)"
                    class="w-10 h-10 bg-yellow-500 text-white font-bold rounded hover:bg-yellow-600 disabled:opacity-50 cursor-pointer">
                    /
                </button>
            </div>

            <button class="px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-900 cursor-pointer" (click)="resetGame()">
                Reset
            </button>
        </div>
    </ng-container>

    <div *ngIf="isGameCompleted$ | async" class="text-center mt-4">
        <h3 class="text-xl font-bold text-blue-600">Game Over</h3>
        <button (click)="resetGame()"
            class="mt-2 px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 curor-pointer">
            Start New Game
        </button>
    </div>
</div>